* {
    font-family: sans-serif;
}

.inline {
    display: inline-block;
}

.anchor {
    display: block;
    height: 100%;
}

.post-item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    border: 0.1rem solid #313249;
    margin: 0.5rem 0 0 0;
    padding-left: 0.3rem;
}

.post-item-wrapper {
    display: flex;
    flex-direction: column;
}

.post-item-img {
    width: 6rem;
    object-fit: contain;
    margin-left: auto;
    padding: 0.5rem;
    box-sizing: border-box;
}

.post-item-details {
    margin-top: auto;
    padding-bottom: 0.2rem;
}

@media (min-width: 821px) {
    .post-item {
        border: 0.1rem solid #313249;
    }
}

.post-item-sub-icon {
    background-image: url("../../public/resources/subreddit.svg");
    width: 1.3rem;
    height: 1.3rem;
    background-size: cover;
    transform: translateY(0.4rem);
}
.post-item-user-icon{
    background-image: url("../../public/resources/user.svg");
    width: 1.3rem;
    height: 1.3rem;
    background-size: cover;
    transform: translateY(0.4rem);
}

.post-item-subreddit {

    display: inline-block;
    margin-left: 0.15rem;
}

.post-item-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.post-item-op {
    font-size: smaller;
    display: inline-block;
    margin-left: 0.5rem;
    color: rgb(190, 190, 190);
}

.post-item-title {
    overflow-wrap: anywhere;
    margin-top: 0.5rem;
}

.small-icon {
    width: 0.85rem;
    height: 0.85rem;
    background-size: cover;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.upvote.hollow {
    background-image: url("../../public/resources/up2.svg");
}

.downvote.hollow {
    background-image: url("../../public/resources/down.svg");
}

.upvote.filled {
    background-image: url("../../public/resources/up_filled.svg");
}

.downvote.filled {
    background-image: url("../../public/resources/down_filled.svg");
}


.vote-count {
    font-size: smaller;
    transform: translateY(-0.18rem);
    margin: 0 0.3rem 0.3rem;
}