* {
    font-family: sans-serif;
}

.inline {
    display: inline-block;
}

.anchor{
    display: block;
    height: 100%;
}

.post-item {
    cursor: pointer;
    position: relative;
    border: 0.1rem solid #313249;   
    margin: 0.5rem 0 0 0;
    padding-left: 0.3rem;
}


@media (min-width: 821px){
    .post-item{
        border: 0.1rem solid #313249;   
    }
}
.post-item-sub-icon {
    background-image: url("../../public/resources/subreddit.svg");
    width: 1.3rem;
    height: 1.3rem;
    background-size: cover;
    transform: translateY(0.4rem);
}

.post-item-subreddit {

    display: inline-block;
    margin-left: 0.15rem;
}

.post-item-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
}

.post-item-op {
    font-size: smaller;
    display: inline-block;
    margin-left: 0.5rem;
    color: rgb(61, 61, 61);
}

.post-item-title {

    margin-top: 0.5rem;
}

.small-icon {
    width: 0.85rem;
    height: 0.85rem;
    background-size: cover;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.upvote.hollow {
    background-image: url("../../public/resources/up2.svg");
}

.downvote.hollow {
    background-image: url("../../public/resources/down.svg");
}

.upvote.filled {
    background-image: url("../../public/resources/up_filled.svg");
}

.downvote.filled {
    background-image: url("../../public/resources/down_filled.svg");
}


.vote-count {
    font-size: smaller;
    transform: translateY(-0.18rem);
    margin: 0 0.3rem 0.3rem;
}